@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@600&family=Raleway:ital,wght@1,100;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Ubuntu:wght@400;500;700&display=swap');

#home-container{
    background-color: #000;;
    height: 100vh;
    
}

.max-width{
    max-width: 13000px; 
    padding: 0 80px;
    margin:  auto 80px; 
}

.navbarmenu{
    text-align: center;
    position: fixed;
    width: 100%; 
    padding: 60px 0;
    font-size: 40px;
    font-family: 'Ubunto', sans-serif;
    transition: all 0.3s ease;
}

.sticky{
  background-color: #C71585;
  width: 100%; 
  padding: 30px 0;
  font-family: 'Ubunto', sans-serif;
}
.navbarmenu .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarmenu .menu li{
    list-style: none;
    display: inline-block;
    }

.navbarmenu .menu li a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease ;
}
.navbarmenu .menu li a:hover{
    color: #EE82EE;
    font-size: 30px;

}

#home{
display: flex;
color: #fff;
min-height: 850px;
font-family: "Rajdhani", sans-serif;

}

.home .max-width{
    margin: auto 0 auto 40px;

}
.home-content{
    margin-top: 250px;
}

.home .max-width .home-content .text1{
    color: #fff; 
    font-family: "Courier";
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }
  
  .text1:nth-child(2){
    animation: type2 8s steps(60, end);
  }

  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 

  .home .max-width .home-content p {
    font-family: "Courier";
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    overflow: hidden;
  }
  
  .home .max-width .home-content p span.typed-text {
    font-family: "Courier";
    font-size: 3rem;
    color: #C71585;
  }
  .home .max-width .home-content p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .home .max-width .home-contentp span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
 #aboutMe{
background-image:linear-gradient(#000000,#C71585);
height: 100vh;
width: 100%;
padding: 100px 0;
font-family: 'Ubuntu', sans-serif;
}

.aboutMe .aboutContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.aboutMe .title{
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: #ebf8e1;
}
 


.aboutMe .aboutContent .columnLeft{
    width: 45%;
    
}
.aboutMe .aboutContent .container .columnRigth{
    background-color: #EE82EE;
    width: 55%; 
    border-radius: 15px;


}


.aboutMe .aboutContent .columnRigth .textAboutMe{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    
   
}

.aboutMe .aboutContent .columnRigth .textAboutMe span{
    color:#EE82EE ;
}
.aboutMe .aboutContent a{
    display: inline-block;
    background: #C71585;
    color: #ebf8e1;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #C71585;
    transition: all 0.3s ease;
}

.aboutMe .aboutContent .columnRigth a:hover{
    color: #C71585;
    background: none;
}
.aboutMe .aboutContent p{
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    text-align: center;

}


.aboutMe .aboutContent .columnLeft img{
width: 400px;
height: 400px;
object-fit: cover;
}







































/* responsividade */

@media(max-width:1162px){
    .home .home-content .text2{
        font-size: 55px;
    }
    .home .home-content .text2 span{
        font-size: 55px;
       
    }
    .home .home-content .text3{
        font-size: 50px;
      
    }

}
@media(max-width:1119px){
    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text2 span{
        font-size: 50px;
       
    }
    .home .home-content .text3{
        font-size: 45px;
      
    }

}
@media(max-width:1035px){
    .home .home-content .text2{
        font-size: 45px;
    }
    .home .home-content .text2 span{
        font-size: 45px;
       
    }
    .home .home-content .text3{
        font-size: 40px;
      
    }

}
@media(max-width:954px){
    .home .home-content .text2{
        font-size: 40px;
    }
    .home .home-content .text2 span{
        font-size: 40px;
       
    }
    .home .home-content .text3{
        font-size: 35px;
      
    }

}
@media(max-width:871px){
    .home .home-content .text2{
        font-size: 35px;
    }
    .home .home-content .text2 span{
        font-size: 35px;
       
    }
    .home .home-content .text3{
        font-size: 30px;
      
    }

}
@media(max-width:789px){
    .home .home-content .text2{
        font-size: 30px;
    }
    .home .home-content .text2 span{
        font-size: 30px;
       
    }
    .home .home-content .text3{
        font-size: 25px;
      
    }

}
@media(max-width:707px){
    .home .home-content .text2{
        font-size: 25px;
    }
    .home .home-content .text2 span{
        font-size: 25px;
       
    }
    .home .home-content .text3{
        font-size: 20px;
      
    }

}
@media(max-width:624px){
    .home .home-content .text2{
        font-size: 20px;
    }
    .home .home-content .text2 span{
        font-size: 20px;
       
    }
    .home .home-content .text3{
        font-size: 15px;
      
    }

}
@media(max-width:624px){
    .home .home-content .text2{
        font-size: 19px;
    }
    .home .home-content .text2 span{
        font-size: 19px;
       
    }
    .home .home-content .text3{
        font-size: 17px;
      
    }

}

 @media(max-width:500px){
    .max-width{ 
        max-width: 800px;
        padding: 0 50px;
    }.menuBtn{
        display: block;
        z-index: 999;
       
    
    }
    .navbarmenu .menu{      
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #C71585;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;

    }.navbarmenu .menu li{
        display: block;
    }.navbarmenu .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    } .home .home-content .text2{
        font-size: 25px;
    }
    .home .home-content .text2 span{
        font-size: 25px;
       
    }
    .home .home-content .text3{
        font-size: 24px;
      
    }
    .home .home-content a{
        font-size: 23;
        padding: 10px 30px;
    }
    
}






