@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Rajdhani:wght@600&family=Raleway:ital,wght@1,100;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&family=Ubuntu:wght@400;500;700&display=swap');


#home-container{
    background-image: linear-gradient(#520044, #C71585);
    height: 100vh;
}
.max-width{
    max-width: 13000px; 
    padding: 0 80px;
    margin:  auto 80px; 
}

.navbarmenu{
    text-align: center;
    position: fixed;
    width: 100%; 
    padding: 60px 0;
    font-size: 40px;
    font-family: 'Ubunto', sans-serif;
    transition: all 0.3s ease;
}

.sticky{
  background-color: #C71585;
  width: 100%; 
  padding: 30px 0;
  font-family: 'Ubunto', sans-serif;
}
.navbarmenu .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarmenu .menu li{
    list-style: none;
    display: inline-block;
    }

.navbarmenu .menu li a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease ;
}
.navbarmenu .menu li a:hover{
    color: #EE82EE;
    font-size: 30px;

}

#home{
display: flex;
color: #fff;
min-height: 850px;
font-family: "Rajdhani" sans-serif;

}

.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 58px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content span{
  color:#C71585;
  font-weight: 500;

}

.home .home-content a{
    display: inline-block;
    background: #EE82EE;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #EE82EE;
}

.home .home-content a:hover{
    color: #EE82EE;
    background: none;
}

.imgRodapeHome{
    background-image: url(../img/icons-rodape2.png);
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: 45px;
}

.menuBtn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
   

}




 #aboutMe{
background-image:linear-gradient(#C71585, #fff);
height: 100vh;
width: 100%;
padding: 100px 0;
font-family: 'Ubuntu' sans-serif;
}

.aboutMe .aboutContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.aboutMe .title{
    font-family: 'Raleway' sans-serif; 
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: #ebf8e1;
}
 
.aboutMe .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#DA70D6 ;
    transform: translateX(-50%);
}

.aboutMe .aboutContent .columnLeft{
    width: 45%;
    
}
.aboutMe .aboutContent .columnRigth{
    width: 55%; 
    border-radius: 5px;


}


.aboutMe .aboutContent .columnRigth .textAboutMe{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    
   
}

.aboutMe .aboutContent .columnRigth .textAboutMe span{
    color:#EE82EE ;
}
.aboutMe .aboutContent p{
    color:#8B008B ;
    font-size: 25px;
}


.aboutMe .aboutContent .columnLeft img{
width: 400px;
height: 400px;
object-fit: cover;
}







































/* responsividade */

@media(max-width:1162px){
    .home .home-content .text2{
        font-size: 55px;
    }
    .home .home-content .text2 span{
        font-size: 55px;
       
    }
    .home .home-content .text3{
        font-size: 50px;
      
    }

}
@media(max-width:1119px){
    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text2 span{
        font-size: 50px;
       
    }
    .home .home-content .text3{
        font-size: 45px;
      
    }

}
@media(max-width:1035px){
    .home .home-content .text2{
        font-size: 45px;
    }
    .home .home-content .text2 span{
        font-size: 45px;
       
    }
    .home .home-content .text3{
        font-size: 40px;
      
    }

}
@media(max-width:954px){
    .home .home-content .text2{
        font-size: 40px;
    }
    .home .home-content .text2 span{
        font-size: 40px;
       
    }
    .home .home-content .text3{
        font-size: 35px;
      
    }

}
@media(max-width:871px){
    .home .home-content .text2{
        font-size: 35px;
    }
    .home .home-content .text2 span{
        font-size: 35px;
       
    }
    .home .home-content .text3{
        font-size: 30px;
      
    }

}
@media(max-width:789px){
    .home .home-content .text2{
        font-size: 30px;
    }
    .home .home-content .text2 span{
        font-size: 30px;
       
    }
    .home .home-content .text3{
        font-size: 25px;
      
    }

}
@media(max-width:707px){
    .home .home-content .text2{
        font-size: 25px;
    }
    .home .home-content .text2 span{
        font-size: 25px;
       
    }
    .home .home-content .text3{
        font-size: 20px;
      
    }

}
@media(max-width:624px){
    .home .home-content .text2{
        font-size: 20px;
    }
    .home .home-content .text2 span{
        font-size: 20px;
       
    }
    .home .home-content .text3{
        font-size: 15px;
      
    }

}
@media(max-width:624px){
    .home .home-content .text2{
        font-size: 19px;
    }
    .home .home-content .text2 span{
        font-size: 19px;
       
    }
    .home .home-content .text3{
        font-size: 17px;
      
    }

}

 @media(max-width:500px){
    .max-width{ 
        max-width: 800px;
        padding: 0 50px;
    }.menuBtn{
        display: block;
        z-index: 999;
       
    
    }
    .navbarmenu .menu{      
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #C71585;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;

    }.navbarmenu .menu li{
        display: block;
    }.navbarmenu .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    } .home .home-content .text2{
        font-size: 25px;
    }
    .home .home-content .text2 span{
        font-size: 25px;
       
    }
    .home .home-content .text3{
        font-size: 24px;
      
    }
    .home .home-content a{
        font-size: 23;
        padding: 10px 30px;
    }
    
}






